.App {
  text-align: center;
}

.fieldRequired {
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  vertical-align: text-top;
  margin-top: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nav-img {
  max-width: 18rem;
}

.no-top-border th {
  border: none;
}
.d-flex {
  font-size: 1rem;
}
/* #capacityAgeGroup2to3 {
  text-align: center;
}

#capacityAgeGroup3to6 {
  text-align: center;
} */

.swal-button--confirm {
  background-color: #007bff;
}

/* Neveikia font-size: em */
.swal-text {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.form-control {
  font-size: 0.875rem;
}

.form-group,
.row {
  font-size: 0.875rem;
}

.table {
  font-size: 0.875rem;
}

.pb-3,
.py-3 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}

.navbar-light.navbar-nav.nav-link.active {
  font-size: 1rem;
}

.deleteColumn {
  width: 11%;
}

.formHeader {
  padding-top: 4%;
}

/* a.#navInstructions.nav-link {
  background-color: #ffc107;
} */

.marginTopSide {
  margin-top: 20px;
}

.marginBottomSide {
  margin-bottom: 20px;
}

#warningmsg {
  display: block;
  float: right;
  color: rgb(134, 37, 37);
}

.warningmsg {
  display: block;
  float: right;
  color: rgb(134, 37, 37);
  font-size: 12px;
}

.redborder {
  border: 3px solid rgb(141, 24, 24);
}

.marginTop12 {
  margin-top: 12px;
}

.marginTop10 {
  margin-top: 10px;
}

.page-link:focus {
  box-shadow: none;
}

.paginationPageInputBox {
  width: 60px;
  height: 38px;
}
